.root {
    max-width: var(--container-width);
    min-height: 1050px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/frame-b.png);
    padding: 0 30px;
}

.form {
    width: 888px;
    background-color: var(--color-background);
    border-radius: 35px;
    padding: 2.5rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-height: 655px;
    margin-top: 245px;
    margin-bottom: 150px;
}

.title {
    text-align: center;
    font-family: var(--font-lagunac-bold);
    font-size: 52px;
    color: var(--color-olive-100);
    line-height: 1.1;
    margin-bottom: auto;
}

.input {
    width: 100%;
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    border: 1px solid var(--color-white);
    background: var(--color-white-60);
    color: var(--color-olive-100);
    font-family: var(--font-montserrat);
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    height: 60px;
    margin-bottom: 10px;

    &::placeholder {
        color: var(--color-olive-60);
        font-family: var(--font-montserrat);
        font-style: italic;
        font-size: 16px;
        font-weight: 600;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        border: 1px solid var(--color-olive-100);
    }
}

.options {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--color-olive-100);

    label {
        display: flex;
        gap: 0.75rem;
        align-items: center;
        font-family: var(--font-montserrat);
        font-size: 16px;
        height: 42px;
        position: relative;
        padding-left: 8px;
        cursor: pointer;
        font-size: 1rem;
        user-select: none;
        font-style: italic;
        font-weight: 500;

        input[type='radio'] {
            display: none;
        }

        .radioOuter {
            width: 24px;
            min-width: 24px;
            height: 24px;
            border: 1px solid var(--color-olive-100); // зелёная рамка
            border-radius: 50%;
            background: var(--color-white-60); // белый промежуток
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s ease;
        }

        .radioInner {
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background-color: var(--color-olive-100); // зелёная точка внутри
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        input[type='radio']:checked+.radioOuter .radioInner {
            opacity: 1;
        }
    }
}

.button {
    width: 100%;
    height: 67px;
    background-color: var(--color-olive-80);
    color: var(--color-white);
    font-family: var(--font-lagunac-bold);
    font-size: 24px;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-transform: uppercase;

    &:hover {
        background-color: var(--color-olive-100);
    }
}

.resultForm {
    min-height: unset;
}

.error {
    color: var(--color-olive-100);
    font-size: 16px;
}

.addGuestButton {
    border: 1px solid var(--color-olive-60);
    border-radius: 100px;
    height: 42px;
    background-color: var(--color-background);
    cursor: pointer;

    span {
        font-size: 16px;
        font-family: var(--font-lagunac-bold);
        color: var(--color-olive-100);
    }

    &:hover {
        background-color: var(--color-olive-100);

        span {
            color: var(--color-white)
        }
    }
}


@media (max-width:1100px) {
    .form {
        width: 700px;
    }

    .title {
        font-size: 42px;
    }

}

@media (max-width:850px) {
    .root {
        padding: 0;
        background-image: url(/images/frame-m.png);
    }

    .form {
        max-width: calc(100vw - 17px);
        min-height: 510px;
        margin-top: 210px;
        padding: 25px;
    }

    .title {
        font-size: 28px;
        text-transform: unset;
    }

    .input {
        height: 49px;
        margin-bottom: 0;

        &::placeholder {
            font-size: 14px;
            font-weight: 400;
        }
    }

    .options {
        gap: 7px;

        label {
            font-size: 16px;
            padding-left: 0;
            line-height: 1;
        }
    }

    .button {
        height: 45px;
        font-size: 18px;
    }

    .resultForm {
        min-height: unset;
    }

    .childText {
        font-size: 11px;
    }

    .addGuestButton {
        span {
            font-size: 14px;
        }
    }
}

@media (max-width:650px) {
    .root {
        background-image: url(/images/frame-b-m.png);
        min-height: 800px;
    }
}