:root {
    // Ширина основного контейнера с контентом
    --container-width: 1600px;

    --color-background: #FFF6EB;

    --color-olive-60: rgba(120, 134, 84, 0.6);

    --color-olive-100: rgba(120, 134, 84, 1);

    --color-white: #FFFFFF;
}